# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Word & Documents
*.docx
*.docm
*.dotx

# Archives
*.zip
*.rar
*.7z

# Media
*.mp4
*.avi
*.mov
...

# Model weights & logs
*.pth
*.pt
*.pkl
*.onnx
...
weights/
runs/

# Datasets
/data/
/datasets/
4_class_ZhuQIBing/5 FinalExam/dataset/

# Environments & IDE
.venv/
.idea/
.vscode/
...
# Project data and images
AFCLIP/
